/* Collection list circular images */
.collection-list__item .card--media {
  border-radius: 50%;
  overflow: hidden;
}

.collection-list__item .card__inner {
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.collection-list__item .card__content {
  text-align: center;
}

.collection-list__item .card__inner img,
.collection-list__item .card__media img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}